
body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);

}
@media (max-width: 768px) {
body{
    height: 768px;
}
}

.qrlink {
    width: 100px;
    font-size: 10px;
}

.jpx {
    padding: 15px;
    width: 100%;
}

/* Button */

.ap.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #00bff3;
    border-radius: 5px;
    border: 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 0;
    /*
            */
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.ap.button {
    background-color: #a5a5a5;
    color: #ffffff !important;
}

.ap.button {
    background-color: #325FD6;
}

.ap.button {
    padding-left: 1.35em;
}

.ap.button {
    margin-right: 0.5em;
}

.ap.button.fit {
    display: block;
    margin: 0 0 1.125em 0;
    width: 100%;
}

.ap.button.small {
    font-size: 0.8em;
}

.ap.button.small {
    font-size: 1em;
}

.ap.button.big {
    font-size: 1.35em;
}

.ap.button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #e4e4e4;
    color: #777 !important;
}

.ap.button.alt:hover {
    background-color: #f4f4f4;
    color: #777 !important;
}

.ap.button.alt:active {
    background-color: #eaeaea;
}

.ap.button.alt.icon:before {
    color: #aaa;
}

.ap.button.special {
    background-color: #64a2d0;
    color: #ffffff !important;
}

.ap.button.special.hover,
.ap.button.special:hover {
    background-color: #78AED6;
}

.ap.button.special.active
.ap.button.special:active {
    background-color: #5096CA;
}

.ap.button.button.disabled,
.ap.button.button:disabled {
    background-color: #C9CAD2 !important;
    box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
    color: #FFF !important;
    cursor: default;
   /* opacity: 0.25;*/
}

.aheader tr td {
    padding: 10px;

}

.content {
    padding: 20px;
    background-color: rgba(244, 236, 255, 0.58);

}

.navaddpay {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navaddpay > li {
    position: relative;
    display: block;
}

.navaddpay > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navaddpay > li > a:hover,
.navaddpay > li > a:focus {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
}

.navaddpay > li > a {
    color: #c3d9ff;
}

.jx img {
    margin-top: 15px;
    background-color: #FFFFFF;
    padding: 10px;
    width: 220px;
    height: 220px;

}

.google-visualization-orgchart-node {
    border: none !important;
}

.navbar-addpay {
    background-color: #337ab7;

}

.navbar-addpay .navbar-brand {
    color: #fbfbfb;
}

.navbar-addpay .navbar-brand:hover,
.navbar-addpay .navbar-brand:focus {
    color: #2e8cba;
    background-color: transparent;
}

.navbar-addpay .navbar-text {
    color: #0300ff;
}

.navbar-addpay .navbar-nav > li > a {
    color: #c3d9ff;
}

.navbar-addpay .navbar-nav > li > a:hover,
.navbar-addpay .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-addpay .navbar-nav > .active > a,
.navbar-addpay .navbar-nav > .active > a:hover,
.navbar-addpay .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-addpay .navbar-nav > .disabled > a,
.navbar-addpay .navbar-nav > .disabled > a:hover,
.navbar-addpay .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-addpay .navbar-toggle {
    border-color: #ddd;
}

.navbar-addpay .navbar-toggle:hover,
.navbar-addpay .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-addpay .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-addpay .navbar-collapse,
.navbar-addpay .navbar-form {
    border-color: #e7e7e7;
}

.navbar-addpay .navbar-nav > .open > a,
.navbar-addpay .navbar-nav > .open > a:hover,
.navbar-addpay .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

:focus {
    outline: none;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.bgwellcome {
    background-image: url("../images/bgwellcome.png");
    background-repeat: no-repeat;
    background-size: 110px 100%;
}

.undercon {

    margin: 10% auto 0 auto;
    text-align: center;

}

.undercon img {
    width: 100%;
}

.tableorg {
    margin-top: 5%;
}

.imgMode {
    width: 100%;
    background-color: rgba(46, 139, 185, 0.5);
}

.imgMode img {
    padding: 5px;

    width: 5%;
    height: 100%;
    text-align: center;
}

.secureImage {
    text-align: left;
}

.secureImage img {
    height: 50px;
    width: 250px;
}

.secureError {
    text-align: center;
    margin: 10px;

    background-color: rgba(255, 3, 0, 0.21);
}

.bannerLogin img {
    width: 300px;
}

.circleframe_mem img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(27, 26, 25, 0.42);
    width: 200px;
    height: 200px;

}

.circleframe img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(27, 26, 25, 0.42);
    width: 100px;

}

.memberClass {
    padding: 10px 0 0 20px;
}

.userid {
    font-weight: bold;
    color: rgba(56, 18, 54, 0.98);
    text-shadow: 0 1px 5px rgba(255, 255, 255, 0.06);

}

.apwallet {
    font-weight: bold;
    color: rgba(0, 5, 59, 0.98);
    text-shadow: 0 1px 5px rgba(255, 255, 255, 0.06);
    text-align: left;

}

.cwallet {
    font-weight: bold;
    color: rgba(0, 59, 0, 0.98);
    text-shadow: 0 1px 5px rgba(255, 255, 255, 0.06);
    text-align: left;
}

.indexPictureProfile {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: #00abff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.indexPictureProfile img {
    width: 200px;
}

.profileName {

    background-color: rgba(255, 153, 49, 0.6);
    position: relative;
    padding: 10px 0 5px 0;
    text-align: center;

}

.shortProfile {
    background-color: rgba(1, 171, 255, 0.16);
    padding: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    margin-bottom: 20px;

}

.alignCenter {
    text-align: center;
}

/*
    Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
    A quick fix is to change .side-menu to

    -> position:absolute

    and uncomment the code below.
    You also need to uncomment

    -> <div class="absolute-wrapper"> </div> in the html file

    you also need to tweek the animation. Just uncomment the code in that section
    --------------------------------------------------------------------------------------------------------------------
    If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
    This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
*/
/*.absolute-wrapper{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}*/
.header {
    width: 300px;

}

.header img {

    width: 300px;

}

.side-menu {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #2E8CBA;
    /* border-right: 1px solid #e7e7e7;*/
}

.side-menu .navbar {
    border: none;
}

.side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #80A3F3;
}

.side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #80A3F3;
}

.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #80A3F3;
}

.side-menu .navbar-nav li a {
    padding: 15px;
}

.side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
}

.side-menu #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.side-menu #dropdown .caret {
    float: right;
    margin: 9px 5px 0;
}

.side-menu #dropdown .indicator {
    float: right;
}

.side-menu #dropdown > a {
    border-bottom: 1px solid #80A3F3;
}

.side-menu #dropdown .panel-body {
    padding: 0;
    background-color: #f3f3f3;
}

.side-menu #dropdown .panel-body .navbar-nav {
    width: 100%;
}

.side-menu #dropdown .panel-body .navbar-nav li {
    padding-left: 15px;
    border-bottom: 1px solid #80A3F3;
}

.side-menu #dropdown .panel-body .navbar-nav li:last-child {
    border-bottom: none;
}

.side-menu #dropdown .panel-body .panel > a {
    margin-left: -20px;
    padding-left: 35px;
}

.side-menu #dropdown .panel-body .panel-body {
    margin-left: -15px;
}

.side-menu #dropdown .panel-body .panel-body li {
    padding-left: 30px;
}

.side-menu #dropdown .panel-body .panel-body li:last-child {
    border-bottom: 1px solid #80A3F3;
}

.side-menu #search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
}

.side-menu .brand-name-wrapper img {
    width: 20%;
    display: inline-block;
}

.side-menu .brand-name-wrapper {
    min-height: 50px;
}

.side-menu .brand-name-wrapper .navbar-brand {
    display: block;
}

.side-menu #search {
    position: relative;
    z-index: 1;
}

.side-menu #search .panel-body {
    padding: 0;
}

.side-menu #search .panel-body .navbar-form {
    padding: 0;
    padding-right: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #80A3F3;
}

.side-menu #search .panel-body .navbar-form .form-group {
    width: 100%;
    position: relative;
}

.side-menu #search .panel-body .navbar-form input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 50px;
}

.side-menu #search .panel-body .navbar-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
    padding: 15px 18px;
}

/* Main body section */
.side-body {
    margin-left: 310px;
}

/* small screen */
@media (max-width: 768px) {


    .navbar-addpay {
        background-color: #337ab7;
        border-color: #31a0ba;

    }

    .navbar-addpay .navbar-brand {
        color: #31a0ba;
    }

    .navbar-addpay .navbar-nav > .active > a,
    .navbar-addpay .navbar-nav > .active > a:hover,
    .navbar-addpay .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: transparent;
    }

    .navbar-addpay .navbar-text {
        color: #fdfffd;
    }

    .navbar-addpay .navbar-nav > li > a {
        color: #c3d9ff;
    }

    .navbar-addpay .navbar-nav > li > a:hover,
    .navbar-addpay .navbar-nav > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }

    .navbar-addpay .navbar-nav > .active > a,
    .navbar-addpay .navbar-nav > .active > a:hover,
    .navbar-addpay .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #80A3F3;
    }

    .navbar-addpay .navbar-nav > .disabled > a,
    .navbar-addpay .navbar-nav > .disabled > a:hover,
    .navbar-addpay .navbar-nav > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }

    .navbar-addpay .navbar-toggle {
        border-color: #ddd;
    }

    .navbar-addpay .navbar-toggle:hover,
    .navbar-addpay .navbar-toggle:focus {
        background-color: #ddd;
    }

    .navbar-addpay .navbar-toggle .icon-bar {
        background-color: #888;
    }

    .navbar-addpay .navbar-collapse,
    .navbar-addpay .navbar-form {
        border-color: #80A3F3;
    }

    .navbar-addpay .navbar-nav > .open > a,
    .navbar-addpay .navbar-nav > .open > a:hover,
    .navbar-addpay .navbar-nav > .open > a:focus {
        color: #555;
        background-color: #80A3F3;
    }

    .side-menu {
        position: fixed;
        width: 300px;
        height: 100%;
        background-color: #01aafe;
        /* border-right: 1px solid #80A3F3;*/
    }

    .side-menu .navbar {
        border: none;
    }

    .side-menu .navbar-header {
        width: 100%;
        border-bottom: 1px solid #80A3F3;
    }

    .side-menu .navbar-nav .active a {
        background-color: transparent;
        margin-right: -1px;
        border-right: 5px solid #80A3F3;
    }

    .side-menu .navbar-nav li {
        display: block;
        width: 100%;
        border-bottom: 1px solid #80A3F3;
    }

    .side-menu .navbar-nav li a {
        padding: 15px;
    }

    .side-menu .navbar-nav li a .glyphicon {
        padding-right: 10px;
    }

    .side-menu #dropdown {
        border: 0;
        margin-bottom: 0;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
    }

    .side-menu #dropdown .caret {
        float: right;
        margin: 9px 5px 0;
    }

    .side-menu #dropdown .indicator {
        float: right;
    }

    .side-menu #dropdown > a {
        border-bottom: 1px solid #80A3F3;
    }

    .side-menu #dropdown .panel-body {
        padding: 0;
        background-color: #4065f3;
    }

    .side-menu #dropdown .panel-body .navbar-nav {
        width: 100%;
    }

    .side-menu #dropdown .panel-body .navbar-nav li {
        padding-left: 15px;
        border-bottom: 1px solid #0c43e7;
    }

    .side-menu #dropdown .panel-body .navbar-nav li:last-child {
        border-bottom: none;
    }

    .side-menu #dropdown .panel-body .panel > a {
        margin-left: -20px;
        padding-left: 35px;
    }

    .side-menu #dropdown .panel-body .panel-body {
        margin-left: -15px;
    }

    .side-menu #dropdown .panel-body .panel-body li {
        padding-left: 30px;
    }

    .side-menu #dropdown .panel-body .panel-body li:last-child {
        border-bottom: 1px solid #2c37e7;
    }

    .side-menu #search-trigger {
        background-color: #2925f3;
        border: 0;
        border-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px 18px;
    }

    .memberClass {
        padding: 0 0 0 20px;
    }

    .side-menu {
        position: relative;
        width: 100%;
        height: 0;
        border-right: 0;
        border-bottom: 1px solid #80A3F3;
    }

    .side-menu .brand-name-wrapper .navbar-brand {
        display: inline-block;
    }

    /* Slide in animation */
    @-moz-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-webkit-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-moz-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @-webkit-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    /* Slide side menu*/
    /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
    .side-menu-container > .navbar-nav.slide-in {
        -moz-animation: slidein 300ms forwards;
        -o-animation: slidein 300ms forwards;
        -webkit-animation: slidein 300ms forwards;
        animation: slidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        z-index: 1;
    }

    .side-menu-container > .navbar-nav {
        /* Add position:absolute for scrollable menu -> see top comment */
        position: fixed;
        left: -300px;
        width: 300px;
        top: 43px;
        height: 100%;
        border-right: 1px solid #80A3F3;
        background-color: #337ab7;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    /* Uncomment for scrollable menu -> see top comment */
    /*.absolute-wrapper{
          width:285px;
          -moz-animation: slideout 300ms forwards;
          -o-animation: slideout 300ms forwards;
          -webkit-animation: slideout 300ms forwards;
          animation: slideout 300ms forwards;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
      }*/
    @-moz-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-webkit-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-moz-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @-webkit-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    /* Slide side body*/
    .side-body {
        margin-left: 5px;
        margin-top: 70px;
        position: relative;
        -moz-animation: bodyslideout 300ms forwards;
        -o-animation: bodyslideout 300ms forwards;
        -webkit-animation: bodyslideout 300ms forwards;
        animation: bodyslideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .body-slide-in {
        -moz-animation: bodyslidein 300ms forwards;
        -o-animation: bodyslidein 300ms forwards;
        -webkit-animation: bodyslidein 300ms forwards;
        animation: bodyslidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    /* Hamburger */
    .navbar-toggle {
        border: 0;
        float: left;
        padding: 18px;
        margin: 0;
        border-radius: 0;
        background-color: #f3f3f3;
    }

    /* Search */
    #search .panel-body .navbar-form {
        border-bottom: 0;
    }

    #search .panel-body .navbar-form .form-group {
        margin: 0;
    }

    .navbar-header {
        /* this is probably redundant */
        position: fixed;
        z-index: 1;
        background-color: #f8f8f8;
    }

    /* Dropdown tweek */
    #dropdown .panel-body .navbar-nav {
        margin: 0;
    }

}
